.subtitle {
  color: $color-primary;
  }

.divider{
  background-color: $color-secondary;
  border: none;
  padding: 1px;
  margin-top: 10px;
  margin-bottom:20px
  }

.text-info{
  color: $color-text-info;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 20px;
}


.f{

  &-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  &-between{
    justify-content: space-between;
  }

  &-end{
    justify-content: end;
  }

  &-column{
    display: flex;
    flex-direction: column;
  }


  @media (max-width: 768px) {
    &-row-reverse-movile{
      flex-direction: row-reverse;
    }
  }

}

