.product-info{
    position: relative;
    .image-info{
        width: 100%;
        margin-bottom: 30px;
    }

    .title-product{
        font-size: 2rem;
    }

    .description-product{
        color: $color-text-info;
        font-family: sans-serif;
        font-size: 1.2rem;
    }

    .quantity-info{
        display: flex;
        text-align: center;
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 21px;
        color: white;
        background-color: #A41AB9;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
    }

    .price-product{
        position: relative;
        font-size: 2rem;
        color:$color-primary;
        padding-left: 30px;
        font-weight: 500;
        font-family: inherit;

        &::before{
            content: " ";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: $color-primary-light;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);

        }
    }

    .botton-product-left{
        cursor: pointer;
        width: 40px;
        height: 40px;
        font-size: 20px;
        background-color: $color-button-info-left;
        border: none;
    }

    .botton-product-right{
        cursor: pointer;
        width: 40px;
        height: 40px;
        font-size: 20px;
        background-color: $color-primary;
        color: white;
        border: none;
    }
}